.ao_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000b0;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1.5em #37474f inset;

  .ao_modal_inner {
    padding: 2em;
    background: #37474f;
    color: white;
    box-shadow: 0 10px 20px #212121;
    border: 5px solid #3c3c3c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
}