
html[type="v_page"] body, html body {
  display: none;
}
v_root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

v_page {
  display: flex;
  flex-direction: column;
  flex: 1;
}
v_debugger_root {
  display: flex;
  position: relative;
  z-index: 99999;
  background: #00000085;
  border-top: 1px solid lime;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  color: white;
  flex-direction: column;
  font-family: monospace;
}

v__header {
  padding: 0.25em 1em;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

v__root_main {
  padding: .5em;
  background: #ffffff26;
}

v_code {
  white-space: pre-wrap;
  padding: 0.25em .5em;
  background: black;
  display: flex;
  border: 1px solid rgb(6, 182, 6);
  margin: 1em;
}

vinf {
  background: #00000045;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 1em;
}





v_block {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #03a9f433;
  margin: 1em;
  border: 1px solid #ffffff33;
  padding: 1em;
  gap: 0.25em;
  outline: 1px solid black;
}





v_btn {
  display: inline-flex;
  background: rgb(0, 146, 0);
  height: fit-content;
  padding: .25em 1em;
  border: .25em solid lime;
  color: white;
  font-size: 15px;
  cursor: pointer;
  
  &:hover {
      background: rgb(4, 170, 4);
  }
}



v_debugger_root v__root_main {
  height: 0;
  padding: 0;
  overflow: hidden;
}

v__footer {
  height: 0;
  padding: 0;
  overflow: hidden;
}

v_debugger_root[gui_shown="true"] {
  color: lime;
  flex: 1;
  overflow: auto;
}

v_debugger_root[gui_shown="true"] v__root_main {
  height: auto;
  padding: .25em 0.5em;
  overflow: auto;
}

v_debugger_root[gui_shown="true"] v__footer {
  height: auto;
  padding: .25em 0.5em;
  overflow: hidden;
}
