body * {
  outline: none;
  border: none;
  padding: .25em .5em;
  margin: 0em; }

html {
  background: #101525;
  color: white; }

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: monospace;
  background: #ffffff0a;
  gap: 1em; }

.page_section {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: #ffffff0d; }

.section_side {
  max-width: 50%; }

@media screen and (min-width: 768px) {
  .page_section {
    flex-direction: row; } }
