.container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    
    .con-header {
      display: flex;
      height: 2em;
      background: rgba(0,0,0,0.5);
      align-items: center;
      justify-content: space-between;
      padding: 0.25em 1em;
    }
    
    .con-body {
      display: flex;
      height: 2em;
      flex: 1;
    }
    
    .con-footer {
      display: flex;
      height: 2em;
      background: rgba(0,0,0,0.5);
    }
    
  }
  
  #demo1 {
    background: green;
    color: white;
    top: 10px;
    left: 10px;
    position: absolute;
  }
  
  #demo2 {
    background: red;
    color: white;
    top: 410px;
    left: 410px;
    position: absolute;
  }
  
  #demo3 {
    background: blue;
    color: white;
    top: 410px;
    left: 10px;
    position: absolute;
  }
  
  .draggableJS {
    
    .dragHandleJS{
      cursor: grab;
    }
  }